<div class="row">
  <div class="col-md-6">
    {{phone|phoneformat:country:addPrefix}}
  </div>
  <div class="col-md-3">
    <select class="form-control" [(ngModel)]="country">
      <option value="">Select Country</option>
      <option value="IN">India</option>
      <option value="US">United States</option>
    </select>
  
  </div>
  <div class="col-md-3">
      <input type="checkbox" [(ngModel)]="addPrefix">Prefix
  </div>
</div>
<br>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>